<html>
	<head>
		<!--<link rel = "stylesheet" href = '/static/style.css' />-->     <!--Optional CSS style parameters-->
		<style>
			table, th, td {											  
				border: 1px solid black;
				border-collapse: collapse;
				padding: 15px;
			}
			table.center {												  
				margin-left:auto; 
				margin-right:auto;
				margin-top: 20%;
			}
		</style>
		<meta http-equiv="refresh" content="5" >				   <!--The webserver is set to refresh every 5 seconds-->
	</head>
	<body>
		<table class = "center">											<!--A table with the temperature and humiditity values is specified-->
		<tr>
			<th>Parameter</th>
			<th>Value</th>
		</tr>
		<tr>
			<td>Temperature (&deg;C)</td>
			<td>{{ temp }}</td>
		</tr>
		<tr>
			<td>Humidity (%RH)</td>
			<td>{{ humidity }}</td>
		</tr>
		</table>
	</body>
</html>